@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* default styling */
body {
  background: #f2f2f2;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

hr {
  color: #f2f2f2;
  opacity: 1;
}


/* custom styling */

.bg-white {
  background-color: #fff;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  font-size: 28px;
  font-family: 'Lobster', cursive;
}

.border {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.remove-margin {
   margin: 0;
}

.icon {
  color: #555;
  font-family: 'Poppins', sans-serif;
}

.scroll-fixed {
  background-color: #fff;
  width: 28%;
  position: fixed;
  top: 65px;
}

@media (max-width: 991px) {
  .scroll-fixed {
    position: relative;
    top: 0;
    width: 100%;
  }

  .mo-first {
    order: -1;
  }
}

.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link {
  background-color: #999;
  border-radius: 0;
}

.form-control:focus, 
.btn-outline-secondary:focus{
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.1)
}

.btn-outline-secondary {
  border-color: rgba(0, 0, 0, 0.1);
  color: #222;
}

.btn-outline-secondary:hover {
  box-shadow: none;
  background-color: #999;
}


.feed-user .heading h5 {
  font-size: 16px;
} 


.feed-user .heading p {
  font-size: 14px;
} 

.feed-card .avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

.feed-card .feed-video video {
  width: 100%;
  height: 100%;
}

.pagination {
  max-width: 100%;
}

.pagination-btn {
  background-color: #fff;
  color:#222;
  width: 50px;
  height: 28px;
}

.pagination-btn.disabled {
  color: #c9c9c9;
}

.modal-dialog {
  max-width: 700px;
} 